# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = _Scrapy_projects.project_3_avito_parser.avito_parser.settings

[deploy]
#url = http://localhost:6800/
project = _Scrapy_projects.project_3_avito_parser.avito_parser
